{% load i18n %}
{% load it_tags %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>IT</title>

  <!-- Core CSS - Include with every page -->
  <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet"></link>
  <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}font-awesome/css/font-awesome.css" rel="stylesheet">

  <!-- Page-Level Plugin CSS - Blank -->
  <link href="{{ STATIC_URL }}css/plugins/timeline/timeline.css" rel="stylesheet">

  <!-- SB Admin CSS - Include with every page -->
  <link href="{{ STATIC_URL }}css/sb-admin.css" rel="stylesheet">
  <style type="text/css">
    .page-header {
      margin-top: 0;
    }
    .media-object {
      width: 64px;
    }
    .media .btn-group {
      position: absolute;
      right: 25px;
    }
    .hidden {
      visibility: hidden;
      height: 1px;
    }
    .dragarea {
      padding: 8px;
      margin-top: 10px;
      border: 1px dashed #ccc;
    }
    .label .close {
      float: none;
      font-size: 14pt;
      line-height: 20px;
    }
    .dropzone {
      height: 80px;
      width: 100%;
      padding: 10px;
      background-image: url({{ STATIC_URL }}images/arrow-down-512.png) no-repeat;
      background-size: 80px 80px;
      background-position: center;
    }
    #page-wrapper {
      margin-right: 300px;
      border-right: 1px solid #e7e7e7;
    }
    .sidebar-right {
      width: 290px;
      right: 0;
      top: 60px;
      padding-right: 10px;
    }
    .tasks {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .nav-tabs {
      margin-top: 15px;
    }
  </style>
</head>

<body>

  <div id="wrapper">

    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">IT</a>
      </div>
      <!-- /.navbar-header -->

      <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-messages">
            <li>
              <a href="#">
                <div>
                  <strong>John Smith</strong>
                  <span class="pull-right text-muted">
                    <em>Yesterday</em>
                  </span>
                </div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <strong>John Smith</strong>
                  <span class="pull-right text-muted">
                    <em>Yesterday</em>
                  </span>
                </div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <strong>John Smith</strong>
                  <span class="pull-right text-muted">
                    <em>Yesterday</em>
                  </span>
                </div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a class="text-center" href="#">
                <strong>Read All Messages</strong>
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
          </ul>
          <!-- /.dropdown-messages -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-tasks">
            <li>
              <a href="#">
                <div>
                  <p>
                    <strong>Task 1</strong>
                    <span class="pull-right text-muted">40% Complete</span>
                  </p>
                  <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                      <span class="sr-only">40% Complete (success)</span>
                    </div>
                  </div>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <p>
                    <strong>Task 2</strong>
                    <span class="pull-right text-muted">20% Complete</span>
                  </p>
                  <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                      <span class="sr-only">20% Complete</span>
                    </div>
                  </div>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <p>
                    <strong>Task 3</strong>
                    <span class="pull-right text-muted">60% Complete</span>
                  </p>
                  <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                      <span class="sr-only">60% Complete (warning)</span>
                    </div>
                  </div>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <p>
                    <strong>Task 4</strong>
                    <span class="pull-right text-muted">80% Complete</span>
                  </p>
                  <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                      <span class="sr-only">80% Complete (danger)</span>
                    </div>
                  </div>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a class="text-center" href="#">
                <strong>See All Tasks</strong>
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
          </ul>
          <!-- /.dropdown-tasks -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> {% trans "Logout" %}</a>
            </li>
          </ul>
          <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
      </ul>
      <!-- /.navbar-top-links -->
    </nav>
    <!-- /.navbar-static-top -->

    <nav class="navbar-default navbar-static-side" role="navigation">
      <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
          <li class="sidebar-search">
            <div class="input-group custom-search-form">
              <input type="text" class="form-control searchfield" placeholder="Search...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <!-- /input-group -->
          </li>
          <li class="active">
            <a href="{% url 'home' %}?state=NEW"><i class="fa fa-dashboard fa-fw"></i> {% trans "Issues" %} <span class="badge pull-right">{% new_issue_count request %}</span></a>
          </li>
          <li><a href="{% url 'list_stuff' %}?kind=SERVER"><i class="fa fa-hdd-o fa-fw"></i> {% trans "Assets" %} <span class="badge pull-right">{% new_asset_count request %}</span></a></li>
          <li><a href="{% url 'docs' %}"><i class="fa fa-book fa-fw"></i> {% trans "Documentation" %}</a></li>
          <li><a href="{% url 'users' %}"><i class="fa fa-users fa-fw"></i> {% trans "Users" %}</a></li>
        </ul>
        <!-- /#side-menu -->
      </div>
      <!-- /.sidebar-collapse -->
    </nav>
    <!-- /.navbar-static-side -->

    <div id="page-wrapper">
      <div class="row">
        <div class="col-lg-12" style="padding:0">
          {% bootstrap_messages %}
          {% block main %}
          {% endblock main %}
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
      <nav class="navbar-default navbar-static-side sidebar-right" role="navigation">
        <div class="sidebar-collapse">
        {% block inspector %}
          INSPECTOR CONTENT
        {% endblock inspector %}
          <!-- /#side-menu -->
        </div>
      <!-- /.sidebar-collapse -->
      </nav>
    </div>
    <!-- /#page-wrapper -->
    <!-- /.navbar-static-side -->
  </div>
  <!-- /#wrapper -->

  <!-- Core Scripts - Include with every page -->
  <script src="{{ STATIC_URL }}js/jquery-1.10.2.js"></script>
  <script src="{{ STATIC_URL }}js/dropzone.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/metisMenu/jquery.metisMenu.js"></script>
  <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

  <!-- Page-Level Plugin Scripts - Blank -->

  <!-- SB Admin Scripts - Include with every page -->
  <script src="{{ STATIC_URL }}js/sb-admin.js"></script>

  <!-- Page-Level Demo Scripts - Blank - Use for reference -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/it.js"></script>
  </body>

</html>
