{% extends "default.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block main %}
<ul class="nav nav-tabs">
{% for k, v in states %}
  <li{%if k == state %} class="active"{% endif %}><a href="?state={{ k }}">{{ v }}</a></li>
{% endfor %}
</ul>
<table class="table">
  {% for i in issues %}
  <tr>
    <td><a href="{% url 'view_issue' i.pk %}">{{ i.description }}</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock main %}

{% block inspector %}
<form action="" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  <button type="submit" class="btn btn-primary">{% trans "Add Issue" %}</button>
</form>
{% endblock inspector %}
