{% extends "default.html" %}
{% load bootstrap3 %}
{% load it_tags %}
{% load i18n %}

{% block main %}
<ul class="nav nav-tabs">
{% for k, v in states %}
  <li{%if k == state %} class="active"{% endif %}><a href="?state={{ k }}">{{ v }}</a></li>
{% endfor %}
</ul>

{% for i in issues %}
  <h3><a href="{% url 'view_issue' i.pk %}">{{ i.title }}</a></h3>
  <p>{{ i.description|markdown|truncatewords:20 }}</p>
{% endfor %}
{% endblock main %}

{% block inspector %}
<form action="" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  <button type="submit" class="btn btn-primary pull-right">{% trans "Add Issue" %}</button>
</form>
{% endblock inspector %}
